.env
.idea
dist
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Casks directory contains template files - keep the template but ignore temporary release files
# Casks/*.rb files will be overwritten during releases